{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "strict",
        "insertPragma": false,
        "endOfLine": "auto"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "endOfLine": "auto"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel",
        "endOfLine": "auto"
      }
    }
  ]
}
